.swiper-button-prev,
.swiper-button-next {
  color: #FFBA08;
}
.swiper-pagination-bullet {
  background-color: #999999;
  width: 16px;
  height: 16px;
}

.swiper-pagination-bullet-active {
  background: #FFBA08;
}